.featured-recipe-card{
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border:1px solid var(--accent);
    max-width: 250px;
    padding:20px;
    margin:0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    // transition: transform 0.2s ease, box-shadow 0.2s ease,background-color 0.2s ease;  
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    height:auto;
    padding:20px;
    text-align:center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.featured-recipe-card:hover {
    box-shadow: rgb(0 0 0 / 80%) 0px 40px 58px -16px,
    rgb(0 0 0 / 72%) 0px 30px 22px -10px;
    transform: translateY(-5px);
    // box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    background-color: var(--secondary);
    border-color: var(--accent);
    color: white;
  }

.featured-recipe-card > img{
    max-width: 100%;
    height:auto;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    // transition: transform 0.2s ease, filter 0.2s ease;
    transition: opacity 500ms ease-in-out 0s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

// .featured-recipe-card:hover{

//     img {
//         transform: scale(1.05);
//         filter: brightness(0.8);
//         transition: 0.5s ease;

//       }
// } 

.new-badge {
  position: absolute;
  font-family: "Lora",serif;
  top: 10px;
  right: 10px;
  color: #191919;
  font-size: 10px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  background-color:  #A68C50;
  z-index: 1;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.featured-recipe-card:hover .new-badge {
  color: white;
  background-color: #B1924E;
}

.featured-recipe-title{
    font-family: 'Playfair Display', serif;
    color: #6A715D;
    font-size:18px;
    transition: color 0.2s ease;
    font-weight:bold;
    margin:16px 0;
    margin-top:0;
}

.featured-recipe-card:hover .featured-recipe-title {
    color: var(--accent);
  }

.featured-recipe-description , .featured-recipe-chef{
    font-family: 'Lora',serif;
    color:#6A715D;
    font-size: 14px;
    color: var(--accent);
    margin: 10px 0;
  }

.featured-recipe-chef{
    margin-top: 3px;
    color:#191919;
    font-weight: 600;
    font-style: italic;
}  

.featured-recipe-likes {
    
    display: flex;
    color:#191919;
    transition: color 0.2s ease;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    
}

.featured-recipe-card:hover .featured-recipe-likes {
    color: var(--accent);
}
  

.heart-icon {
    color: var(--primary);
    margin-right: 5px;
}

  .like-count {
    font-size: 14px;
    font-size:12px;
    font-family: 'Raleway',sans-serif;
  }  

  .view-recipe-button{
    background-color: var(--accent);
    color:white;
    font-family: 'Shadows Into Light',sans-serif;
    font-size:14px;
    font-weight: 700;
    border:none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0px;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  }


.view-recipe-button a{
    text-decoration: none;
    color:#fff;
}

.view-recipe-button:hover {
    background-color: #D93A15;
    
}

.featured-recipe-card:hover .heart-icon {
  // color: var(--accent);
  transform: scale(1.1);
}

@media only screen and (max-width:1080px){
  .featured-recipe-card{
    max-width:300px;
    
  }
}
