$bp-md: 600px;
$bp-lg: 800px;

.cuisine-type-section{
    padding:40px 0;
    text-align: center;

}

.cuisine-type-section-title{
    font-family: 'Playfair Display', serif;
    color: #3B4236;
  
    text-align: center;
    font-size:2.5rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1)

}

.cuisine-type-grid{
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  // font-family: var(--font-sans);
  font-family: "Playfair-display",serif;

  @media (min-width: $bp-md) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (min-width: $bp-lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}