@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lora&family=Playfair+Display:wght@500&family=Raleway:wght@500&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');

html{
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}

:root {
  --primary: #EE614B;  
  --secondary: #F6F2EC;
  --accent: #3B4236;
  --neutral: #191919;
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  /* --font-sans: 'Rubik', sans-serif; */
  --font-serif: 'Cardo', serif;
}

a{
  text-decoration: none;
}

button{
  cursor:pointer;
}

input {
  border: none;
  outline: none;
}
body{
  margin:0;
  padding: 0;
  font-family: "Lora",serif;
  background-color: #F0EDE4;
  background-color: var(--secondary);
}



@media only screen and (min-width:768px){
  body{
    font-size: 16px;
  }
  }
  @media only screen and (min-width:480px) and (max-width:768px){
   body{
    font-size: 15px;
   }
  }
  @media only screen and (max-width:479px){
  body{
    font-size: 14px;
  }
  }


